label{
    text-align: left;
}

input{
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    outline: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}