footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(19, 19, 20);
    width: 100%;
    height: 60px;    
    text-align: center;
    line-height: 100px;

    p{
        color: #FFF;
    }
}