<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  <head>
	  		<title>Cadastro</title>
	  </head>
	  <body>
	  		<h1>Cadastro de Pacientes</h1>
	  		<form method="POST">
	  		      <input type="text" name="nome">
	  		      <input type="text" name="cpf">
	  		      <input type="date" name="datanacimento">
	  		      <input type="text" name="altura">
	  		      <input type="text" name="peso">
	  		      <input type="text" name="uf">
	  		      
	  		      <button type="submit">cadastrar</button>
	  		</form>
	  </body>
</html>